{% extends 'base.html' %}

{% block content %}

<form method="POST" class="post-form" action="/list">
    {% csrf_token %}
    <div class="container" style="width: 60%; margin: 0em 0em 0em 35em;">
        <br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Item:</label>
            <div class="col-sm-4">
                {{ form.item }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alert code:</label>
            <div class="col-sm-4">
                {{ form.alert_code }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Severity:</label>
            <div class="col-sm-4">
                {{ form.severity }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Agency:</label>
            <div class="col-sm-4">
                {{ form.agency }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-4">
                {{ form.description }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Completed (true or false):</label>
            <div class="col-sm-4">
                <input type="text" name="completed" id="id_completed" required maxlength="500"
                    value="{{ list.completed }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4" style="margin: 0% 20% 0% 14%;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}