{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center">Cyber Threat Task list</h1>
<table class="table table-striped table-bordered table-sm margin-top: 2em;">
    <thead class="thead-dark">
        <tr>
            <th>Item</th>
            <th>Alert Code</th>
            <th>Severity</th>
            <th>Agency</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        {% for list in lists %}
        <tr>
            <td>{{ list.item }}</td>
            <td>{{ list.alert_code }}</td>
            <td>{{ list.severity }}</td>
            <td>{{ list.agency }}</td>
            <td>{{ list.description }}</td>
            <td>{{ list.completed }}</td>
            <td>
                <a href="/edit_list/{{ list.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/delete_list/{{ list.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/list" class="btn btn-primary">Add New Record</a></center>





{% endblock %}